################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Mafia/.vs/Mafia/FileContentIndex
