################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/mafia-deduction2/v17
/Mafia/.vs/Mafia
